# Homework 2

In this homework you will complete a couple of simple exercises in order to show your understanding with Python. If these exercises are challenging or new to you, you may want to reconsider taking the class and/or brush up on your Python skills. For the following exercises you are not allowed to use any Python packages (i.e. Numpy, Pandas, etc.).

### Please print the output of each question in a new cell below your code

## Lists

1.1 Create an empty Python list called 'a' in the cell below.

In [ ]:
#your code here

1.2 Store all values between 1-100 (inclusive) with increments of 3 (i.e. 1, 4, 7...) in 'a'.

In [ ]:
#your code here

1.3 Create another list called 'a2' with numbers from 2-46 (inclusive) with increments of 0.5 (i.e. 2, 2.5, 3...).

In [ ]:
#your code here

1.4 Double every even integer element from list 'a'. Store the results back in 'a'.

In [ ]:
#your code here

1.5 Add all numbers in 'a' except for the 2nd and 21st elements (the 2nd element here means the element at list index 1).

In [ ]:
#your code here

1.6 Calculate the mean of 'a'.

In [ ]:
#your code here

1.7 Delete all elements greater than the mean value from list 'a'

In [ ]:
#your code here

## Strings

2.1 Create an empty list called 'b'.

In [ ]:
#your code here

2.2 Store the words in the sentence below as elements into the list 'b'.  

'I am so excited about Data-X. It is important to be able to work with data.'

In [ ]:
#your code here

2.3 Return the count of the occurences of the lower-case letter 'e' in the list 'b'.

In [ ]:
#your code here

2.4 Replace every lower- or upper-case letter 'i' in the list b with a '1'.

In [ ]:
#your code here

2.5 Append the string "This is the end of the first HW." to the list 'b'.

In [ ]:
#your code here

2.6 Print 'b' as ONE string backwards (starting with "WH tsrif...").

In [ ]:
#your code here

## Dictionaries

3.1 Put the following in a dictionary called 'codes':

Keys: 1001, 1002, 1003, 1004, 1005   
Values: 'Alpha', 'Beta', 'Gamma', 'Delta', 'Tau'

then traverse the dictionary by its keys and change every value to be all lower case.

In [ ]:
#your code here

3.2 Delete 'alpha' from the dictionary.

In [ ]:
#your code here

## Sets

4.1 Create a set called 'c' with the all the odd numbers less than 10.

In [ ]:
#your code here

4.2 Create another set called 'd' with elements 2, 5, 10, 30.

In [ ]:
#your code here

4.3 Find the union between sets 'c' and 'd' and store this in a new set called 'e'.

In [ ]:
#your code here

4.4 Find the intersection between sets 'c' and 'd'.

In [ ]:
#your code here